@font-face {
    font-family: 'Gunny Rewritten';
    src: local('Gunny Rewritten'), local('GunnyRewritten'), url('gunnyrewritten.woff2') format('woff2'), url('gunnyrewritten.woff') format('woff'), url('gunnyrewritten.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
